title = 狱杰的小页
note = http://nehex-console.uegee.com/daily
github_link = https://github.com/obentnet
friend = https://nehex-console.uegee.com/friend
favicon = https://uegee.com/favicon.ico
donate_link = /donate
blog = https://uegee.com/feed
bilibili_link = https://space.bilibili.com/20980892
twitter_link = 